{% extends "common/layout_user.html" %}
{% block content %}
<link href="{{ buildStaticUrl('/css/register.css') }}" rel="stylesheet">
<div class="loginColumns animated fadeInDown" id="login_wrapper">
	<div class="row">
			<div class="ibox-content">
				<div class="m-t edit_wrap" role="form">
                    <div class="form-group text-center">
                        <h2 class="font-bold">STOCK LAB</h2>
                    </div>
					<div class="form-group" style="margin-left:25%;color:white;font-weight: bold;letter-spacing: 3px;opacity:0.89;">
						<span>用户名:</span><input type="text" name="login_name" class="form-control login_name" placeholder="请输入用户名" value="{{current_user.login_name}}" style="width:75%;color:black;">
					</div>
					<div class="form-group" style="margin-left:25%;color:white;font-weight: bold;letter-spacing: 3px;opacity:0.89;">
						<span>昵称:</span><input type="text" name="nickname" class="form-control" placeholder="请输入昵称" value="{{current_user.nickname}}" style="width:75%;color:black;">
					</div>
					<div class="form-group" style="margin-left:25%;color:white;font-weight: bold;letter-spacing: 3px;opacity:0.89;">
						<span>手机:</span><input type="text" name="mobile" class="form-control" placeholder="请输入手机号码" value="{{current_user.mobile}}" style="width:75%;color:black;">
					</div>
					<div class="form-group" style="margin-left:25%;color:white;font-weight: bold;letter-spacing: 3px;opacity:0.89;">
						<span>邮箱:</span><input type="text" name="email" class="form-control" placeholder="请输入邮箱" value="{{current_user.email}}" style="width:75%;color:black;">
					</div>
					<div class="button-back" style="display:inline-block;width:27.5%;margin-left:25%;color:white;font-weight: bold;opacity:0.89;">
						<a href="/"><button type="button" class="btn btn-primary block full-width m-b do-back">返回</button></a>
					</div>
					<div class="button-modify" style="display:inline-block;color:white;width:27.5%;font-weight: bold;">
						<button type="button" class="btn btn-primary block full-width m-b do-modify">修改</button>
					</div>
                </div>
			</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/user/edit.js') }}"></script>
{% endblock %}
