<!DOCTYPE html>
<html>
    <head>
    	<title>Stark Lab</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Indie+Flower|Shadows+Into+Light" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="{{buildStaticUrl('/css/index.css')}}">
        <link rel="stylesheet"  type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
        <script src="{{ buildStaticUrl('/js/common.js') }}"></script>
        <script src="{{buildStaticUrl('/js/index/index.js')}}"></script>
        <script src="{{buildStaticUrl('/js/index/selector.js')}}"></script>
        <script src="{{buildStaticUrl('/js/index/current_price.js')}}"></script>
        <script src="{{buildStaticUrl('/js/index/add_stock.js')}}"></script>
        <script src="{{buildStaticUrl('/js/index/search_ops.js')}}"></script>
        <script src="{{buildStaticUrl('/js/index/set_sale_point.js')}}"></script>
        <script src="{{buildStaticUrl('/js/strategy/strategy.js')}}"></script>
        <script src="{{ buildStaticUrl('/js/index/plot_figure.js') }}"></script>
        <script src="{{ buildStaticUrl('/plugins/jquery-2.1.1.js') }}"></script>
        <script src="{{ buildStaticUrl('/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
    </head>
    <body id="body">

        <div id="title">
            <h1>STOCK LAB<br><span id=author></span><br></h1>
        </div>

